[submodule "ecb"]
        path = plugins/ecb
	url = http://github.com/emacsmirror/ecb.git

[submodule "yasnippet"]
	path = plugins/yasnippet
	url = http://github.com/emacsmirror/yasnippet.git

[submodule "yasnippets-rspec"]
	path = plugins/yasnippets-rspec
	url = http://github.com/emacsmirror/yasnippets-rspec.git

[submodule "yaml-mode"]
	path = plugins/yaml-mode
	url = http://github.com/emacsmirror/yaml-mode.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = http://github.com/emacsmirror/auto-complete.git
[submodule "plugins/ruby-block"]
	path = plugins/ruby-block
	url = http://github.com/emacsmirror/ruby-block.git
[submodule "plugins/textmate"]
	path = plugins/textmate
	url = http://github.com/emacsmirror/textmate.git
[submodule "plugins/yasnippets-rails"]
	path = plugins/yasnippets-rails
	url = http://github.com/eschulte/yasnippets-rails.git
